@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  font-family: "Century Gothic", "Arial", sans-serif;
  background-image: url("paper.png");
  background-repeat: repeat;
}

.wrapper {
  min-width: 600px;
  max-width: 960px;
  margin: 0 auto;
}

header, main {
  border: 2px solid #000;
}

header {
  background-color: rgb(118,68,138);
  color: #fff;
  text-align: center;
  padding: 4px;
  border-bottom: 0px solid #000;
}

h1{
  margin: 0px 10px 5px;
  font-family: "Satisfy", "Century Gothic", "Arial", sans-serif;
}


/*START SIDE NAV */
#mySideNav a{
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#mySideNav a:hover {
  left: 0px;
}

#home {
  top: 115px;
  background-color: rgba(118,68,138,.8);
}
#resume {
  top: 175px;
  background-color: rgba(118,68,138,.6);
}
#portfolio {
  top: 235px;
  background-color: rgba(118,68,138,.4);
}
#graphicd {
  top: 295px;
  background-color: rgba(118,68,138,.2);
}


/*HOME PAGE*/
body.index main {
  background-color: rgba(255, 255, 255, 0.5);
}

.about {
  max-height: 300px;
}

.about p {
  margin-left: 10px;
}

img.home {
  margin: 10px 20px;
  width: 200px;
  border: 4px groove #fff;
  float: left;
}

/*RESUME*/
body.resume header, body.resume main {
  background-color: rgba(255,255,255,.4);
  padding: 5px 20px;
  border: 2px solid #000;
}

body.resume header {
  background-color: rgb(118,68,138);
  color: #fff;
  text-align: center;
  border-bottom: 0px solid #000;
}

#mail {
  color: #fff;
  text-decoration: none;
}

#mail:hover {
  text-decoration: underline;
}

#education {
  grid-area: education;
}
#experience {
  grid-area: experience;
}
#honors {
  grid-area: honors;
}
#skills {
  grid-area: skills;
}
#education, #experience {
  border-left: 2px solid #000;
  padding-left: 25px;
  margin-left: 10px;
}
#circle {
  grid-area: circle;
  border-radius: 50%;
  margin: auto auto;
}

body.resume main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr repeat(3, 2fr);
  grid-gap: 1px;

  grid-template-areas:
  "circle education"
  "honors education"
  "skills experience"
  "skills experience";

}

body.resume main ul {
  list-style-type: square;
  margin: 2px 0px 10px;
}

body.resume main p {
  margin: 0px;
}

body.resume main h2, h3 {
  margin: 10px 0px 2px;
}

body.resume main h3 {
  color: rgb(118,68,138);
  font-family: "Satisfy", "Century Gothic", "Arial", sans-serif;
  font-size: 25px;
}

h1{
  margin: 0px 0px 2px;
  font-family: "Satisfy", "Century Gothic", "Arial", sans-serif;
}

#circle img {
  height: 100px;
  width: 100px;
  margin-top: 5px;
}


/*PORTFOLIO*/
.gallery {
  position: relative;
  width: 100%;
  margin: 10px 5px 5px 5px;
}

.image {
  display: block;
  width: 90%;
  height: auto;
  border: 2px solid #000;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 0;
  background-color: rgba(118,68,138,.8);
  overflow: hidden;
  width: 90%;
  height: 0;
  transition: .5s ease;
}

.gallery:hover .overlay {
  height: 40%;
}

.text {
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  position: absolute;
  text-align: center;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dress {
  grid-area: dress;
}
#water_gun {
  grid-area: water;
}
#silent {
  grid-area: silent;
}
#dark_wings {
  grid-area: dwings;
}
#shoes {
  grid-area: shoes;
}
#light_wings {
  grid-area: lwings;
}
#princess {
  grid-area: princess;
}

#blower {
  grid-area: blower;
}
#face {
  grid-area: face;
}
#gato {
  grid-area: gato;
}
#horse {
  grid-area: horse;
}
#jen {
  grid-area: jen;
}
#nyc {
  grid-area: nyc;
}
#poppa {
  grid-area: poppa;
}
#random {
  grid-area: random;
}
#seuss {
  grid-area: seuss;
}
#speak {
  grid-area: speak;
}
#streetlight {
  grid-area: streetlight;
}
#thing {
  grid-area: thing;
}
#white {
  grid-area: white;
}
#glass {
  grid-area: glass;
}
#pyro {
  grid-area: pyro;
}
#weld {
  grid-area: weld;
}
#sunset {
  grid-area: sunset;
}
#video {
  grid-area: video;
  justify-self: center;
}
#zorf {
  grid-area: zorf;
  justify-self: center;
}
#demon {
  grid-area: demon;
}
#dots {
  grid-area: dots;
}
#chicken {
  grid-area: chicken;
}

body.portfolio main {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(8, 100%);
  grid-gap: 10px;
  align-items: center;


  grid-template-areas:
  "nyc lwings glass princess"
  "shoes horse dwings speak"
  "weld water poppa blower"
  "jen dress thing silent"
  "white sunset pyro gato"
  "face zorf zorf streetlight"
  "dots chicken demon random"
  "dots video video seuss";
}

/*GRAPHIC*/
.pix {
margin-left: 10px;
}
#blurb {
  grid-area: blurb;
  margin-left: 10px;
  margin-right: 10px;
}

#hijinks_img {
  grid-area: hijinks_img;
}
#hijinks {
  grid-area: hijinks;
  margin-left: 20px;
  margin-right: 20px;
}
#publix_img1 {
  grid-area: publix_img1;
}
#publix_img2 {
  grid-area: publix_img2;
}
#publix {
  grid-area: publix;
  margin-left: 20px;
  margin-right: 20px;
}
#hp{
  grid-area: hp;
  margin-left: 20px;
  margin-right:20px;
}
#logo{
  grid-area: logo;
  margin-left: 20px;
  margin-right: 20px;
}
#logo_c {
  grid-area: logo_c;
  margin-left: 10px;
}
#logo_bw {
  grid-area: logo_bw;
  margin-left: 10px;
}
#banner {
  grid-area: banner;
  margin-left: 20px;
  margin-right: 20px;
}
#banner_img {
  grid-area: banner_img;
  margin-left: 10px;
}
#bc{
  grid-area: bc;
  margin-left: 20px;
  margin-right: 20px;
}
#bcF1 {
  grid-area: bcF1;
  margin-left: 20px;
}
#bcF1:hover {
  content: url('images/graphics/CAC_FALL2017_BC-01.jpg');
}
#bcF2 {
  grid-area: bcF2;
  margin-left: 20px;
}
#bcF2:hover {
  content: url('images/graphics/CAC_SPR2018_BC-01.png');
}
#bcF3 {
  grid-area: bcF3;
  margin-left: 20px;
}
#bcF3:hover {
  content: url('images/graphics/CAC_FALL2018_BC-01.png');
}
#mag{
  grid-area: mag;
  margin-left: 20px;
  margin-right: 20px;
}
#mag1 {
  grid-area: mag1;
  margin-left: 10px;
}
#mag1:hover {
  content: url('images/graphics/mag1.jpg');
}
#mag2 {
  grid-area: mag2;
  margin-left: 10px;
}
#mag2:hover {
  content: url('images/graphics/mag2.jpg');
}
#mag3 {
  grid-area: mag3;
  margin-left: 10px;
}
#mag3:hover {
  content: url('images/graphics/magnet.jpg');
}
#fb{
  grid-area: fb;
  margin-left: 20px;
  margin-right: 20px;
}
#fb1 {
  grid-area: fb1;
  margin-left: 10px;
}
#fb2 {
  grid-area: fb2;
  margin-left: 10px;
}
#ad{
  grid-area: ad;
  margin-left: 20px;
  margin-right: 20px;
}
#ad1 {
  grid-area: ad1;
  margin-left: 10px;
}
#ad2 {
  grid-area: ad2;
  margin-left: 10px;
}
#ad3 {
  grid-area: ad3;
}
#ad3:hover {
  content: url('images/graphics/Murder.jpg');
}
#event {
  grid-area: event;
  margin-left: 20px;
  margin-right: 20px;
}
#event1 {
  grid-area: event1;
  margin-left: 10px;
}
#event2 {
  grid-area: event2;
  margin-left: 10px;
}
#palm{
  grid-area: palm;
  margin-left: 20px;
  margin-right: 20px;
}
#palm1 {
  grid-area: palm1;
  margin-left: 20px;
}
#palm2 {
  grid-area: palm2;
  margin-left: 10px;
}
#palm2:hover {
  content: url('images/graphics/Orientation.jpg');
}
#shirts {
  grid-area: shirts;
  margin-left: 20px;
  margin-right: 20px;
}
#shirt1 {
  grid-area: shirt1;
  margin-left: 10px;
}
#shirt1:hover {
  content: url('images/graphics/power_shirt.jpg');
}
#shirt2 {
  grid-area: shirt2;
  margin-left: 10px;
}
#shirt2:hover {
  content: url('images/graphics/Shirt.jpg');
}
#shirt3 {
  grid-area: shirt3;
  margin-left: 10px;
}
#shirt3:hover {
  content: url('images/graphics/cac_shirt.jpg');
}

body.graphic h3 {
  font-family: "Satisfy", "Century Gothic", "Arial", sans-serif;
  font-size: 25px;
  color: rgb(118,68,138);
}

body.graphic main {
  background-color: rgba(255, 255, 255, 0.5);

  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(26,100%);
  grid-gap: 15px 5px;
  padding: 20px 0px;

  grid-template-areas:
  "blurb blurb blurb blurb blurb blurb"
  "hijinks hijinks hijinks publix publix publix"
  "hijinks_img hijinks_img hijinks_img publix_img1 publix_img1 publix_img1"
  "hijinks_img hijinks_img hijinks_img publix_img2 publix_img2 publix_img2"
  "hijinks_img hijinks_img hijinks_img . . ."
  "hijinks_img hijinks_img hijinks_img . . ."
  "hp hp hp hp hp hp"
  "logo logo logo logo logo logo"
  "logo_c logo_c logo_c logo_bw logo_bw logo_bw"
  "banner banner banner banner banner ."
  "banner_img banner_img banner_img banner_img banner_img banner_img"
  "bc bc bc bc bc ."
  "bcF1 bcF1 bcF2 bcF2 bcF3 bcF3"
  "mag mag mag mag mag ."
  "mag1 mag1 mag2 mag2 mag3 mag3"
  "fb fb fb fb fb ."
  "fb1 fb1 fb1 fb2 fb2 fb2"
  "ad ad ad ad ad ."
  "ad1 ad1 ad1 ad3 ad3 ad3"
  "ad2 ad2 ad2 ad3 ad3 ad3"
  "event event event event event ."
  "event1 event1 event1 event2 event2 event2"
  "palm palm palm palm palm ."
  "palm1 palm1 palm2 palm2 palm2 ."
  "shirts shirts shirts shirts shirts ."
  "shirt3 shirt3 shirt2 shirt2 shirt1 shirt1";

}
