@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  font-family: "Century Gothic", "Arial", sans-serif;
  background-image: url("paper.png");
  background-repeat: repeat;
}

.wrapper {
  min-width: 600px;
  max-width: 960px;
  margin: 0 auto;
}

header, main {
  border: 2px solid #000;
}

header {
  background-color: rgb(118,68,138);
  color: #fff;
  text-align: center;
  padding: 4px;
  border-bottom: 0px solid #000;
}

h1{
  margin: 0px 10px 5px;
  font-family: "Century Schoolbook", "Century Gothic", "Arial", sans-serif;
}


/*START SIDE NAV */
#mySideNav a{
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#mySideNav a:hover {
  left: 0px;
}

#home {
  top: 40px;
  background-color: rgba(118,68,138,.8);
}
#resume {
  top: 100px;
  background-color: rgba(118,68,138,.6);
}
#portfolio {
  top: 160px;
  background-color: rgba(118,68,138,.4);
}
#graphicd {
  top: 220px;
  background-color: rgba(118,68,138,.2);
}


/*HOME PAGE*/
body.index main {
  background-color: rgba(255, 255, 255, 0.5);
}

.about {
  max-height: 300px;
}

.about p {
  margin-left: 10px;
}

img.home {
  margin: 10px 20px;
  width: 200px;
  border: 4px groove #fff;
  float: left;
}

/*RESUME*/
#pdf {
  color: rgb(118,68,138);
  text-decoration: none;
}

#pdf: hover {
  text-decoration: underline;
}

body.resume header, body.resume main {
  background-color: rgba(255,255,255,.4);
  padding: 5px 20px;
  border: 2px solid #000;
}

body.resume header {
  background-color: rgb(118,68,138);
  color: #fff;
  text-align: center;
  border-bottom: 0px solid #000;
}

#mail {
  color: #fff;
  text-decoration: none;
}

#mail:hover {
  text-decoration: underline;
}

 #education {
  grid-area: education;
}
#experience {
  grid-area: experience;
}
#honors {
  grid-area: honors;
}
#skills {
  grid-area: skills;
}
/* #education {
  border-left: 2px solid #000;
  padding-left: 25px;
  margin-left: 10px;
} */

body.resume main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;

  grid-template-areas:
  "education skills"
  "experience experience"
  "honors honors";
}
#edu {
  list-style-type: none;
  margin: 2px 0px 10px;
}
#classes, #honors{
  list-style-type: disc;
  margin: 2px 0px 10px;
}

body.resume main p {
  margin: 0px;
}

body.resume main h2, h3 {
  margin: 10px 0px 2px;
}

body.resume main h2 {
  color: rgb(118,68,138);
  font-family: "Century Schoolbook", "Century Gothic", "Arial", sans-serif;
  font-size: 25px;
}

 body.resume h1{
  margin: 0px 0px 2px;
  font-family: "Century Schoolbook", "Century Gothic", "Arial", sans-serif;
  font-size: 50px;
}

#circle img {
  height: 100px;
  width: 100px;
  margin-top: 5px;
}


/*PORTFOLIO*/


.gallery {
  position: relative;
  margin: 10px 5px 5px 5px;
  float: left;
}

.image {
  display: block;
  max-width: 200px;
  border: 2px solid #000;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 0;
  background-color: rgba(118,68,138,.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.gallery:hover .overlay {
  height: 40%;
}

.text {
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  position: absolute;
  text-align: center;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body .portfolio main {
  background-color: rgba(255, 255, 255, 0.5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.column {
  flex: 25%;
  max-width: 25%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


/*GRAPHIC*/
.intlink {
  text-decoration: none;
  color: rgba(0,0,0,1);
}
.intlink:hover {
  text-decoration: underline;
}
.movie {
  font-style: italic;
}
.pix {
/* margin-left: 10px; */

}
#blurb {
  margin-left: 10px;
  margin-right: 10px;
}

#hijinks {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;

}

#publix {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;

}
#hp{
  margin-left: 20px;
  width: 90%;

}
#logo{
  margin-left: 20px;
  margin-right: 20px;

}

#banner {
  margin-left: 20px;
  margin-right: 20px;

}

#bc{
  margin-left: 20px;
  margin-right: 20px;

}
#bcF1 {
  margin-left: 20px;

}
#bcF1:hover {
  content: url('images/graphics/CAC_FALL2017_BC-01.jpg');
}
#bcF2 {
  margin-left: 20px;

}
#bcF2:hover {
  content: url('images/graphics/CAC_SPR2018_BC-01.png');
}
#bcF3 {
  margin-left: 20px;

}
#bcF3:hover {
  content: url('images/graphics/CAC_FALL2018_BC-01.png');
}
#mag{
  margin-left: 20px;
  margin-right: 20px;

  max-width: 100%;
}
#mag1 {
  margin-left: 10px;

}
#mag1:hover {
  content: url('images/graphics/magnet1.jpg');
}
#mag2 {
  margin-left: 10px;

}
#mag2:hover {
  content: url('images/graphics/magnet2.jpg');
}
#mag3 {
  margin-left: 10px;

}
#mag3:hover {
  content: url('images/graphics/magnet.jpg');
}
#fb{
  margin-left: 20px;
  margin-right: 20px;

  max-width: 100%;
}
#fb1 {
  margin-left: 10px;

}
#fb2 {
  margin-left: 10px;

}
#ad{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
}
#ad1 {
  margin-left: 10px;
  max-width: 40%;
}

#ad3 {
  max-width: 40%;
  float: right;
  margin-right: 10px;
}
#ad3:hover {
  content: url('images/graphics/Murder1.jpg');
}
#event {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
}
#event1 {
  grid-area: event1;
  margin-left: 10px;

}
#event2 {
  margin-left: 10px;

}
#palm{
  margin-left: 20px;
  margin-right: 20px;

  max-width: 100%;
}
#palm1 {
  margin-left: 20px;

}
#palm2 {
  margin-left: 10px;

}
#palm2:hover {
  content: url('images/graphics/OrientationCard.jpg');
}
#shirts {
  margin-left: 20px;
  margin-right: 20px;

  max-width: 100%;
}
#shirt1 {
  margin-left: 10px;

}
#shirt1:hover {
  content: url('images/graphics/powershirt.jpg');
}
#shirt2 {
  margin-left: 10px;

}
#shirt2:hover {
  content: url('images/graphics/starshirt.jpg');
}
#shirt3 {
  margin-left: 10px;

}
#shirt3:hover {
  content: url('images/graphics/cacshirt.jpg');
}
#firefox {
  margin-left: 10px;
  margin-right: 10px;

  max-width: 100%;
}

body.graphic h3 {
  font-family: "Century Schoolbook", "Century Gothic", "Arial", sans-serif;
  font-size: 20px;
  color: rgb(118,68,138);
}

body.graphic main {
  background-color: rgba(255, 255, 255, 0.5);
}

.footer {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgb(118,68,138);
  padding: 5px 10px;
}

#footer {
  color: #fff;
  text-decoration: none;
}

#footer:hover {
  text-decoration: underline;
}
