@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  font-family: "Century Gothic", "Arial", sans-serif;
  background-image: url("paper.jpg");
  background-repeat: repeat;
}

header, main {
  min-width: 600px;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 5px 20px;
  border: 2px solid #000;
}

header {
  background-color: rgb(118,68,138);
  color: #fff;
  text-align: center;
  border-bottom: 0px solid #000;
}

#mail {
  color: #fff;
  text-decoration: none;
}

#mail:hover {
  text-decoration: underline;
}

nav {
  background-color: #fff;
  color: rgb(118,68,138);
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding-right: 50px;
}

nav a:link, a:visited, a:active {
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(118,68,138,.5);
}

#education {
  grid-area: education;
}

#experience {
  grid-area: experience;
}

#honors {
  grid-area: honors;
}

#skills {
  grid-area: skills;
}

#education, #experience {
  border-left: 2px dotted #000;
  padding-left: 10px;
}

#circle {
  grid-area: circle;
  border-radius: 50%;
  margin: auto auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px;

  grid-template-areas:
  "circle education"
  "honors education"
  "honors education"
  "skills education"
  "skills experience"
  "skills experience"
  ". experience"
  ". experience";

}

main ul {
  list-style-type: square;
  margin: 2px 0px 10px;
}

main p {
  margin: 0px;
}

main h2, h3 {
  margin: 10px 0px 2px;
}

main h3 {
  color: rgb(118,68,138);
  font-family: "Satisfy", "Century Gothic", "Arial", sans-serif;
  font-size: 25px;
}

main a:link, a:visited, a:active {
  text-decoration: none;
  color: rgb(118,68,138);
}

main a:hover {
  text-decoration: underline;
  color: rgb(118,68,138);
}

h1{
  margin: 0px 0px 2px;
  font-family: "Satisfy", "Century Gothic", "Arial", sans-serif;
}


img {
  background-color: #fff;
  height: 100px;
  width: 100px;
  margin-top: 5px;
}
